header{
    background-color: #708090; 
    border-radius: 10px;
    padding: 20px;
}
.rotina{
    font-size: 20px;
    text-align: justify;
}
body{
    background-color: #B0C4DE;
}
a{
    background-color: #B0C4DE;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}
.contato{
    background-color: #708090;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}